
# Created by https://www.toptal.com/developers/gitignore/api/vscode,particle
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,particle

### Particle ###
# Compiled output #

###################

*.bin

### vscode ###
.vscode/*
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode,particle

target/*
